*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# FFmpeg相关文件
ffmpeg-*.tar.xz
ffmpeg-*.tar.gz
ffmpeg-*/
app/src/main/cpp/ffmpeg/
*.so
*.a
